<!DOCTYPE html>
<html lang="en">
<canvas id="c" class="c"></canvas>
<head><meta charset="UTF-8"><title>Document</title><link rel="stylesheet" href="Style.css"></link></head>
<body>
<header></header>
<main>
  <div id="main" class="container-nav">
    
    <div id="main" class="container-nav">
      <nav id="nav2" class="container-nav"></nav>
      <input id="search" class="search" type="text" placeholder="Escribe un dato que quieras encontrar disponible">
      <div id="ul" class="container-nav"></div>
    </div>
    <nav id="nav" class="container-nav"></nav>
    <div id='container' class="container-nav" style="
  width: auto; /* Ancho fijo */
  height: 2000px; /* Alto fijo, crucial para que el scroll funcione */
  overflow-y: auto; /* Permite el scroll vertical solo cuando el contenido lo supera */
  overflow-x: hidden; /* Oculta el scroll horizontal */
  "></div>
  </div>
</main>
<footer></footer>
</body>
<script type="module" src="script.js"></script>
<script src="c.js"></script>
</html>