:root{
  --border:5px solid gray;
}
* {font-family:'Times New Roman';font-size: 20px;font-weight:bold;line-height:50px;/*text-transform:uppercase;*/}
body{min-height: 100vh;background: linear-gradient(135deg, #009dcc 0%, #0d00cc 100%);}
input{margin:0 0 20px 0;padding:20px;width:100%;height:auto;border-radius:20px;box-sizing: border-box;}
@keyframes aparecer {from {opacity: 0;transform: translateY(20px);}to {opacity: 1;transform: translateY(0);}}
@keyframes desaparecer {from {opacity: 1;transform: translateY(0);}to {opacity: 0;transform: translateY(-20px);}}
.prompt_titulo{
  margin:20px;
  padding:0;
  font-size:clamp(3.5vw, 2vw, 5vw);
  color:#0d00cc;
  /*background:linear-gradient(135deg, #009dcc 0%, #0d00cc 100%);/**/
}
.prompt_parrafo{
  margin:0;
  padding:0;
  font-size:clamp(1.5vw, 2vw, 5vw);
}
.prompt_footer{
  margin:0;
  padding:0;
  font-size:clamp(0.5vw, 1vw, 3vw);
}
.container-nav{
  scroll-margin-top: 200px; 
  position:relative;
  margin:20px;/**/
  border-radius:20px;
  /*box-shadow: 5px 5px 10px rgba(0,0,0,0.5);/**/
  border:10px solid rgba(0,0,0,0.1);/**/
  padding:40px;
  background:white;
}
.container-nav.ocultar{
  animation: desaparecer 0.6s ease-out forwards;
}
.container-nav.mostrar{
  animation: aparecer 0.6s ease-out forwards;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.modal{
  display:flex;/*none*/
  position:fixed;
  z-index:1000;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRZdUoJkpJLyI3Wx1CO6gyRZi56__H5ElOY3DKxBh3Pav6spL7IXhuqSs&s=10);
  background-repeat: no-repeat;      /* Evita que la imagen se repita */
  background-size: cover;          /* Hace que la imagen cubra todo el elemento */
  background-position: center;     /* Centra la imagen */
  justify-content:center;
  align-items:center;
}
.modal.ocultar{
  animation: desaparecer 0.6s ease-out forwards;
}
.nsc{
  overflow-y: auto;/**/
  overflow-x: hidden;/**/
  box-sizing:border-box;
  width:60%;
  height:80%;
  margin:2rem;
  padding:20px;
  border-radius:20px;
  background:white;
}
.nsc.ocultar{
  animation: desaparecer 0.6s ease-out forwards;
}
.nsc.mostrar{
  animation: aparecer 0.6s ease-out forwards;
}
.dimg{
  width:100%;
  height:45%;
  background:none;
  border-radius:20px;
}
.img{
  border-radius:20px;
  width:100%;
  height:100%;
}
.title{
  border:none;
  width:100%;
  height:auto;
  border-radius:20px;
  background:rgba(225,225,225,0.4);
  font-size:40px;
}
.txt{
  border:none;
  width:100%;
  height:auto;
  border-radius:20px;
  background:rgba(225,225,225,0.4)';
}
.modalc{
  display:flex;
  flex-direction:column;
  gap:30px;/**/
  background-color:white;
  margin:2rem;
  padding:2rem;
  border-radius:1rem;
  width:80%;
  max-width:500px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  box-sizing:border-box;
}
.modalc.ocultar{
  animation: desaparecer 0.6s ease-out forwards;
}
.modalc.mostrar{
  animation: aparecer 0.6s ease-out forwards;
}
.botonE{
    position:absolute;
    bottom:0;
    right:0;
}
.botonModal{
  border-radius:20px;
  padding:0;
  /*width:100px;/**/
  /*height:auto;/**/
  border:none;
  cursor:pointer;
  background:linear-gradient(135deg, #009dcc 0%, #0d00cc 100%);
  color:white;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.pnr{
  font-size:clamp(1vw, 1.2vw, 2vw);
  overflow:hidden;
  overflow-wrap:break-word;
  line-height:1.5;
}

table {border-radius:20px;text-align: center;table-layout: fixed;border-collapse: collapse;width:100%;}
th,td {
  position:relative;
  width: 25%; /* Cada columna ocupa el 25% */
  height: 25px; /* Todas las filas tendrán una altura mínima de 50px */
  padding: 10px;
  border: solid rgba(0,0,0,0.1);
  transition:transform 0.3s ease/*, box-shadow 0.3s ease*/;
}
tr{
  transition:transform 0.3s ease/*, box-shadow 0.3s ease*/;
  border: 10px solid rgba(255,255,255,0.5);
  border-radius: 20px;
}
div{text-align: center;}
input[type="checkbox"]{cursor:pointer;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width:5vw;height:5vh;margin-left: auto;margin-right: auto;box-sizing: border-box;border-radius:20px;}
input:focus{
  border:5px solid lightgray;
  outline:none;
  /*box-shadow: 0 10px 10px rgba(0, 102, 204, 0.5);/**/
}
input[type="button"]{
  border-radius:20px;
  margin:0px 10px 0px 10px;
  padding:0;
  /*width:100px;/**/
  /*height:auto;/**/
  border:none;
  cursor:pointer;
  background:linear-gradient(135deg, #009dcc 0%, #0d00cc 100%);
  color:white;
}

input[type="text"]{
  margin:0px 10px 0px 10px;
}

td button,th button{border-radius:20px 0 0 0;padding:0;width:25px;height: auto;border:none;cursor:pointer;}
tr:hover{
  transform:translateY(-5px);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 255);
}
td:hover{
  transform:translateY(-15px);
  border-radius:20px 20px 0px 0px;
  background: rgba(255, 255, 255, 255);
}
th:hover{
  transform:translateY(-15px);
  border-radius:20px 20px 0px 0px;
  background: rgba(255, 255, 255, 255);
}
.nr-del{
  position: absolute;
  right:40px;
  border-radius:20px;
  width:200px;
  height:50px;
  border:none;
  transition:transform 0.3s ease/*, box-shadow 0.3s ease*/;
  cursor:pointer;
}
.nr-del:hover{
  transform:scale(1.5);
  border-radius:20px;
}
.search{
  /*width:80vw;/**/
  border:5px solid lightgray;
  margin:0px;
}
nav button{
  width:auto;/*250px*/
  transition:transform 0.3s ease/*, box-shadow 0.3s ease*/;
  border-radius:20px;
  height:50px;
  border:none;/*var(--border);/**/
  margin:20px;/**/
  cursor:pointer;
  overflow: hidden;
  background:lightgray;
  font-size:1em;/**/
}
nav button:hover{
  transform:scale(1.5);
  /*border-radius:20px;/**/
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/       
* {font-family:'Times New Roman';font-size: 20px;font-weight:bold;line-height:50px;/*text-transform:uppercase;*/}

body{min-height: 100vh;background: linear-gradient(135deg, #009dcc 0%, #0d00cc 100%);}

input{margin:0 0 20px 0;padding:20px;width:100%;height:auto;border-radius:20px;box-sizing: border-box;}

/* Fondo oscuro (overlay) */
.modal {
  display: flex; /* Oculto por defecto */
  position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);justify-content: center;align-items: center;}

/* Caja blanca central */
.modal-contenido {background-color: white;padding: 2rem;border-radius: 1rem;width: 80%;max-width: 500px;box-shadow: 0 5px 15px rgba(0,0,0,0.3);animation: fadeInUp 0.3s ease;box-sizing: border-box;}

/* Animación de entrada */
@keyframes fadeInUp {from {opacity: 0;transform: translateY(20px);}to {opacity: 1;transform: translateY(0);}}

.super{
  margin:20px;
  border-radius:20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border:solid rgba(0,0,0,0.1) 5px;
  padding:40px;
  background:white;
  /*box-shadow: 0 0 5vw rgba(0, 102, 204, 0.5);*/
  /*box-shadow: 2px 2px 2px black, 0 0 10px blue;*/
  /*box-shadow: 0px 0px 10px 5px red inset;*/
}

table {border-radius:20px;text-align: center;table-layout: fixed;border-collapse: collapse;width:100%;}

th,td,tr {
  position:relative;
  width: 25%; /* Cada columna ocupa el 25% */
  height: 25px; /* Todas las filas tendrán una altura mínima de 50px */
  padding: 10px; /* Aumenta el tamaño interno de la celda */
  border: solid rgba(0,0,0,0.1);
  border-radius:20px;
  transition:transform 0.3s ease/*, box-shadow 0.3s ease*/;
}

div{text-align: center;}

input[type="checkbox"]{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width:50%;height:50%;margin-left: auto;margin-right: auto;box-sizing: border-box;border-radius:20px;}

input:focus{outline:none;border-color: blue;box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);}

td button,th button{border-radius:20px 0 0 0;padding:0;width:25px;height: auto;border:none;cursor:pointer;}

.i3{border-radius:20px;padding:0;width:100px;height: auto;border:none;cursor:pointer;background: linear-gradient(135deg, #009dcc 0%, #0d00cc 100%);color:white;}

td:hover{
  transform:translateY(-5px);
  /*box-shadow: 0 10px 15px rgba(0, 0, 0, 1.15);*/
  /*background: rgba(0, 0, 0, 0.15);*/
  border: 5px solid rgba(255, 255, 255, 0.15);
}

th:hover{
  transform:translateY(-5px);
  /*box-shadow: 0 20px 25px rgba(0, 0, 0, 1.15);*/
  /*background: rgba(0, 0, 0, 0.15);*/
  border: 5px solid rgba(255, 255, 255, 0.15);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.c{border: 2px solid #333;box-shadow: 0 0 20px rgba(0,255,0,0.2);display:flex; position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);}